
$primary-font: Inter,sans-serif;

$sidebar-width: 240px;
$height-btn-add-playlist: 54px;
$height-sidebar-main: 276px;
$height-list-sub-sidebar: calc(100vh - 329px - 90px);

$primary-color-dark: #170f23;
$primary-color-light: #231b2e;
$primary-color-light-hover: #393243;
$primary-text-light: #fff;
$primary-text-light-blur: #827e88;
$modal-color:  #432275;
$text-color: #dadada;
$alpha-bg: hsla(0,0%,100%,0.1);
$border-primary: hsla(0,0%,100%,0.1);

$header-color: #2f2739;


